body{
    font-family: "SymbolaRegular", "Times New Roman", serif;
}
h1{
    color: #bbb;
}
a{
  color: inherit;
  text-decoration: none;
}
a:hover{
  color: #777;
}
#mathField{
    font-size: 1.5em;
    padding: .2em;
}
input.input{
    padding: .4em;
    font-family: inherit;
    font-size: 1.1em;
    height: 1.1em;
}
input.input:focus{
    border: 3px solid lightblue;
}
span.output{
    padding: .2em;
}
#evalBtn{
    font-size: 1.2em;
    width: 150px;
    height: 50px;
}
